<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" integrity="sha384-5QFXyVb+lrCzdN228VS3HmzpiE7ZVwLQtkt+0d9W43LQMzz4HBnnqvVxKg6O+04d" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Cats</title>
</head>
<body>
    <div class="container mt-4">
        <h1 class="text-center mb-4">Cats</h1>
        <div class="row d-flex justify-content-around">
            <div class="col-3">
                <img src="/images/cat-1.jfif" alt="cute kitty" style="height:280px">
            </div>
            <div class="col-3">
                <img src="/images/cat-2.jfif" alt="cute kitty" style="height:280px">
            </div>
            <div class="col-3">
                <img src="/images/cat-3.jfif" alt="cute kitty" style="height:280px">
            </div>
            <div class="col-3">
                <img src="/images/cat-4.jfif" alt="cute kitty" style="height:280px">
            </div>
        </div>
    </div>

</body>
</html>